extends layout.pug

block content
    h2 All Albums
    div(class="profile-body")
        body
            table
                thead
                    tr
                        th Album
                        th Artist
                        th Release Date
                        th Song List
                        th Add To Favorites
                tbody
                    each album in albums
                        tr
                            td= album.name
                            td= album.artist
                            td= album.releaseDate
                            td= album.songList
                            td
                              button(type='button') Add
