doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/addToFave.js" type='module')
  body
    div(class="nav-bar")
        div(class="logo")
        div(class="search-bar")
        div(class="nav-buttons")
            a(href='/') Home
            a(href='/albums') Albums
            a(href='/about') About
        div(class=right-sector)
            img(src='/favicon.ico')
            div(class='dropdown')
                button(class='dropbtn') User's Name
                div(class='dropdown-content')
                    a(href=`/users/${userId}`) Profile
                    a(href='/users/settings') Settings
                    a(href='/users/:id/favoriteList') Favorite List
                    a(href='/users/signout') Sign Out




    block content
