doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    div(class="nav-bar")
        div(class="logo")
        div(class="search-bar")
        div(class="nav-buttons")
            a(href='/') Home
            a(href='/albums') Albums
            a(href='/') Tools
            a(href='/') Community
            a(href='/about') About
        div(class=right-sector)
            a(href='/users/signout')
                input(type="button" class="signout btn" value="Sign Out")
            //- div
            //-     label(for='profile_menu') User's Name
            //-         select(name= 'profile_menu' id= 'profile_menu')
            //-             a(href='/users/#{userId}')
            //-                 option(type='button' class='dropdown btn') Profile
            //-             a(href='/users/settings')
            //-                 option(type='button' class='dropdown btn') Settings
            //-             a(href='/users/:id/favoriteList')
            //-                 option(type='button' class='dropdown btn') My Albums
            //-             a(href='/users/signout')
            //-                 option(type='button' class='dropdown btn') Log Out
            img(src='public/favicon.ico')

            div(class='dropdown')
                button(class='dropbtn') User's Name
                div(class='dropdown-content')
                    a(href='/users/#{userId}') Profile
                    a(href='/users/settings') Settings
                    a(href='/users/:id/favoriteList') Favorite List
                    a(href='/users/signout') Sign Out




    block content
