extends layout.pug

block content
    div(class="nav-bar")
        div(class="logo")
        div(class="search-bar")
        div(class="nav-buttons")
            a(href='/') Home
            a(href='/albums') Albums
            a(href='/') Tools
            a(href='/') Community
            a(href='/about') About
        div(class=right-sector)
            a(href='/users/signout')
                input(type="button" class="signout btn" value="Sign Out")
            a(href='/users/:id')
                img(src='public/favicon.ico')
    div(class="profile-bar")
    div(class="profile-body")
