extends layout.pug

block content
    if errors.length > 0
        each err in errors
            p= err
    div(class='settings-body-page')
        div(class='settings-container')
            h2(class='settings-header') Profile Info
            form(action="/settings" method="post" class='settings-form')
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="firstName" class='settings-name-blocks') First Name:
                    input(type="text" class='settings-form-blocks' name="firstName" required value=loggedInUser.firstName)
                label(for="lastName" class='settings-name-blocks') Last Name:
                    input(type="text" class='settings-form-blocks' name="lastName" required value=loggedInUser.lastName)
                button(type='submit' class='settings-save btn') Save Changes
