extends guest-layout.pug
block content
    if errors.length > 0
        each err in errors
            p= err
    form(action="/users/signin" method="post")
        input(type="hidden" class='token' name="_csrf" value=csrfToken)
        label(for="email") Email
        input(type="text" name="email" required )
        label(for="hashedPassword") Password
        input(type="text" name="hashedPassword" required)
        button(type='submit') Sign In
