extends layout.pug
block content
    div(class='socials-container')
        h1(class='contact-header') Contact Us
        hr(class='title-hr')
        div(class="div-socials-body")
            body
                table(id='socials-table')
                    thead
                        tr
                            th(class='table-head-socials') Developer
                            th(class='table-head-socials') LinkedIn
                            th(class='table-head-socials') Github
                    tbody
                                td Augustino Elisaia
                                td
                                    a(href='https://www.linkedin.com/in/augustino-elisaia-7307a822b/' class='fino-linked-in')
                                        img(src='/linked-in.png' class='linked-in-socials')
                                td
                                    a(href='https://github.com/elisaia55' class='fino-git-hub')
                                        img(src='/GitHub_Logo.png' class='git-hub-socials')
                    tbody
                                td Israel Arvizu
                                td
                                    a(href='https://www.linkedin.com/in/israel-arvizu-a11b87218/' class='izzy-linked-in')
                                        img(src='/linked-in.png' class='linked-in-socials')
                                td
                                    a(href='https://github.com/israel-arvizu' class='izzy-git-hub')
                                        img(src='/GitHub_Logo.png' class='git-hub-socials')
                    tbody
                                td Uki Pavlovic
                                td
                                    a(href='https://www.linkedin.com/in/ukipavlovic/' class='uki-linked-in')
                                        img(src='/linked-in.png' class='linked-in-socials')
                                td
                                    a(href='https://github.com/ukiukica' class='uki-git-hub')
                                        img(src='/GitHub_Logo.png' class='git-hub-socials')
