/* div * {
    /* font-family: 'DM Sans', sans-serif; ;
    color: #5F7161; */







h1 {

    font-size: 42px;
    color: black;
    font-weight: bolder;
}

.back-ground{
    background-image: url("/Music_Hunt_Logo.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;


}
.back-ground:before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 200px;
    height: 50px;
    background-image: url("/Music_Hunt_Logo.png");
}

h2,
p ,
a  {
    background-color:transparent;
    font-size: 30px;
}
