body {
    background-color: #f9f3e1;
}

* {
    font-family: 'DM Sans', sans-serif;
}

.nav-bar {
   display: flex;
   align-items: center;
   justify-content:space-between;
   margin: 20px 60px;

}

#header-border {
    border-bottom: 1px #c4c5be solid;
    margin: 0px;
}

#left_nav {
    display:flex;
    justify-content: space-between;

}

#left_nav > * {
    padding-right: 20px;
}
.nav-buttons {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-buttons > * {
    padding-right: 35px;
    font-size: 18px;
    text-decoration: none;
    color: #636866;
}

.nav:hover {
    color: #d8b800;
}

#query {
    width: 200px;
    height: 30px;
    background-color: #ebe6e1;
    border: none;
}

#query:hover {
  margin: 0px;
  width: 500px;
  height: auto;
  z-index: 1;
}

.search-btn {
    height: 30px;
    /* margin-left: 5px; */
    border: none;
    background-color: #6D8B74;
    font-size: 14px;
    color: white;
}

.search-btn:hover {
    color: #96a899;
    cursor: pointer;
}


/* PROFILE BUTTON: */

.dropbtn {
    background-color: #f9f3e1;
    color: #636866;
    padding: 0px;
    font-size: 18px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbecbd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #636866;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #6D8B74;
    color: black;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    color: #d8b800;
  }

/* ---------------------------- */

  .single-post-container {
    border: 1px solid black;
  }

  .sign-btn {
      margin-right: 35px;
      padding: 0px;
      background-color: #f9f3e1;
      border: none;
      font-size: 18px;
      color: #636866;
  }


.sign-btn:hover {
    color: #d8b800;
}
